<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单控件中的双向数据绑定</title>
</head>

<body>
    <div class="app">
        <p>
            用户名：<input type="text" placeholder=" l love ..." v-model="username">
        </p>
        <p v-text="username"></p>
        <select v-model="singer">
            <option value="朴树">朴树</option>
            <option value="2">李志</option>
            <option value="3">窦唯</option>
        </select>
        <p>你选择：<span style="color: rgb(68, 36, 184);">{{singer}}</span></p>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    var vm = new Vue({
        el: '.app',
        data: {
            username: '',
            singer: '朴树'
        }
    })
</script>

</html>