    body {
        background-color: #050E16;
        margin: 0;
    }
    /* .container {} */
 
    .header {
        display: flex;
        justify-content: space-between;
        height: 56px;
        background-color: rgb(17, 45, 63, 60%);
    }
    
    .logo {
        margin-top: 0.25em;
        margin-left: 0.5em;
        background: url(../images/logo.svg) no-repeat left;
        background-size: 100%;
        height: 45px;
        width: 215px;
    }
    
    .Color_fontStyle_01 {
        color: #5CE2FF;
    }
    
    .data {
        font-size: 1.375em;
        text-align: right;
        margin-right: 1em;
        margin-top: 0.75em;
    }
    
    .title {
        background: url(../images/header_bg_top.svg) no-repeat top;
        background-size: 100%;
        width: 598px;
        padding-top: 0.1em;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 0.2em;
    }
    
    .content01 {
        /* margin: 8px; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .content02 {
        /* margin: 8px; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12px;
    }
    
    
    .border {
        /* margin-top: 8px; */
        border: 2px solid #325D7F;
        border-radius: 12px;
        background-color: rgb(17, 45, 63, 60%);
    }
    
    .table01 {
        height: 458px;
        width: 863px;
        background: url(../images/map_set.png) no-repeat center;
        background-size: 100% 100%;
    }
    
    .table02 {
        height: 458px;
        width: 1036px;
        /* padding-left: 8px; */
    }
    
    .table03 {
        height: 458px;
        width: 1239px;
        /* padding-left: 8px; */
    }
    
    .table04 {
        height: 458px;
        width: 659px;
    }

    .zt_list {
        width: 257px;
    
    }

    .list01 {
        background: #008F0A;
        height: 48px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.78);
    }

    .list01 span {
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
    }
    
    @media only screen and (max-width:1200px) {
        .title {
            background: url(../images/header_bg_top.svg) no-repeat top;
            background-size: 100%;
            height: 56px;
            width: 0.31145833333%;
            padding-top: 6px;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 0.05em;
        }
        .data {
            font-size: 18px;
            text-align: right;
            margin-right: 16px;
            margin-top: 12px;
        }
        .logo {
            margin-top: 4px;
            margin-left: 8px;
            background: url(../images/logo.svg);
            height: 40px;
            width: 191px;
        }
    }