    body {
        background-color: #050E16;
        margin: 0;
    }
    /* .container {} */
    
    h1 {}
    
    .header {
        display: flex;
        justify-content: space-between;
        height: 56px;
        background-color: rgb(17, 45, 63, 60%);
    }
    
    .logo {
        margin-top: 4px;
        margin-left: 8px;
        background: url(../images/logo.svg) no-repeat left;
        background-size: 100%;
        height: 45px;
        width: 215px;
    }
    
    .Color_fontStyle_01 {
        color: #5CE2FF;
    }
    
    .data {
        font-size: 22px;
        text-align: right;
        margin-right: 16px;
        margin-top: 12px;
    }
    
    .title {
        background: url(../images/header_bg_top.svg) no-repeat top;
        background-size: 100%;
        width: 31.145833333%;
        padding-top: 0.375em;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0.05em;
    }
    
    .content {
        /* margin: 8px; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .border {
        margin-top: 8px;
        border: 2px solid #325D7F;
        border-radius: 12px;
        background-color: rgb(17, 45, 63, 60%);
    }
    
    .table01 {
        height: 490px;
        width: 50%;
        background: url(../images/map_set.png) no-repeat center;
    }
    
    .table02 {
        height: 490px;
        width: 48%;
        /* padding-left: 8px; */
    }
    
    .table03 {
        height: 508px;
        width: 65%;
        /* padding-left: 8px; */
    }
    
    .table04 {
        height: 508px;
        width: 33%;
    }
    
    @media only screen and (max-width:1200px) {
        .title {
            background: url(../images/header_bg_top.svg) no-repeat top;
            background-size: 100%;
            height: 56px;
            width: 0.31145833333%;
            padding-top: 6px;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 0.05em;
        }
        .data {
            font-size: 18px;
            text-align: right;
            margin-right: 16px;
            margin-top: 12px;
        }
        .logo {
            margin-top: 4px;
            margin-left: 8px;
            background: url(../images/logo.svg);
            height: 40px;
            width: 191px;
        }
    }